@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-radius: var(--radius-lg);
  --ui-container: var(--container-7xl);
}

@theme {
  --font-sans: "Inter", sans-serif;

  --auth-color-primary-400: 56 189 248;
  --auth-color-primary-500: 14 165 233;

  --auth-color-gray-200: 229 231 235;
  --auth-color-gray-900: 17 24 39;
  --auth-color-gray-950: 3 7 18;

  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950);
}
